arrow==1.3.0
asgiref==3.8.1
astroid==3.3.5
asttokens==2.4.1
astunparse==1.6.3
beautifulsoup4==4.12.3
bitsandbytes==0.44.1
boto3==1.35.5
botocore==1.35.5
cachetools==5.5.0
colorama==0.4.6
datasets==3.0.1
debugpy==1.8.0
decorator==5.1.1
Django==3.0
django_admin==2.0.2
django_cors_headers==3.11.0
django_excel_response2==3.0.6
django_extensions==3.1.5
django_grpc==1.0.21
django_six==1.0.5
djangogrpcframework==0.2.1
djangorestframework==3.15.1
docopt==0.6.2.
excel_base==1.0.4
executing==2.0.1
faiss_cpu==1.8.0.
Faker==30.8.2
fastavro==1.9.5
fastjsonschema==2.19.1
filelock==3.13.1
flatbuffers==24.3.25
fonttools==4.47.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.4.0
gensim==4.3.3
grpcio
grpcio_tools
gunicorn==23.0.0
h5py==3.10.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
httpx_sse==0.4.0
huggingface_hub==0.24.6
idna==3.8
imageio==2.36.0
immutabledict==4.2.1
importlab==0.8.1
imutils==0.5.4.
ipykernel==6.29.0
ipython==8.12.3
ipython_genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
isort==5.13.2
isoweek==1.3.3
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.25
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema_specifications==2023.12.1
keras==2.13.1
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
libcst==1.5.1
llvmlite==0.43.0
Markdown==3.7
markdown_it_py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib_inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
ml_dtypes==0.2.0
mpmath==1.3.0
msgspec==0.18.6
multidict==6.1.0
multiprocess==0.70.16
nbformat==5.10.4
nest_asyncio==1.5.9
networkx==3.2.1
ninja==1.11.1.1
numba==0.60.0
numpy==1.24.3
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.3
pillow==10.3.0
pipreqs==0.5.0
platformdirs==4.1.0
ply==3.11
prometheus_client==0.20.0
prompt_toolkit==3.0.43
proto_plus==0.1.0
protobuf==5.28.3
psutil==5.9.8
pure_eval==0.2.2
py_cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycnite==2024.7.31
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydot==3.0.2
pygments==2.17.2
pylint==3.3.1
pynndescent==0.5.13
pyparsing==3.1.4
python_dateutil==2.8.2
python_dotenv==1.0.1
python_json_logger==2.0.7
python_mnist==0.7
pytype==2024.10.11
pytz==2023.3.
PyYAML==6.0.2
pyzmq==25.1.2
qtconsole==5.5.2
QtPy==2.4.1
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests_oauthlib==1.3.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rpds_py==0.20.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.5
scapy==2.6.0
scikit_learn==1.4.0
scipy==1.12.0
screen==1.0.1.
seaborn==0.13.1
Send2Trash==1.8.3
setuptools_scm==8.0.4
simsimd==6.0.7
six==1.16.0
smart_open==7.0.5
sniffio==1.3.1
soupsieve==2.6
tabulate==0.9.0
tensorboard==1.6.0
tensorboard_data_server==0.7.2
tensorflow==2.12.0
tensorflow_estimator==2.15.0
tensorflow_io_gcs_filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.2.0
thriftpy2==0.5.2.
tifffile==2024.9.20
TimeConvert==3.0.13
tokenizers==0.13.3
toml==0.10.2
tomlkit==0.13.2
torch==2.1.2
torchvision==0.16.2
transformers==4.31.0
types_requests==2.32.0.20240712
typing_extensions==4.12.2
webencodings==0.5.1
websocket_client==1.7.0
types_python_dateutil==2.9.0.20241003
urllib3==2.2.3
dill==0.3.8
tqdm==4.67.0
xxhash==3.5.0
aiohttp==3.11.7
sqlparse==0.5.2
xlwt==1.3.0
certifi==2024.8.30
h11==0.14.0
anyio==4.6.2.
comm==0.2.2
jupyter_client==8.6.3
jupyter_core==5.7.2
tornado==6.4.2
traitlets==5.14.3
backcall==0.2.0
pickleshare==0.7.5
stack_data==0.6.3
pexpect==4.9.0
widgetsnbextension==4.0.13
jupyterlab_widgets==3.0.13
attrs==24.2.0
contourpy==1.3.1
cycler==0.12.1
tzdata==2024.2
nbconvert==7.16.4
yarg==0.1.9
wcwidth==0.2.13
annotated_types==0.7.0
charset_normalizer==3.4.0
oauthlib==3.2.2
wrapt==1.17.0
ptyprocess==0.7.0
Cython==3.0.11
tzlocal==5.2
sympy==1.13.3
nvidia_cuda_nvrtc_cu12==12.1.105
nvidia_cuda_runtime_cu12==12.1.105
nvidia_cuda_cupti_cu12==12.1.105
nvidia_cudnn_cu12==8.9.2.26
nvidia_cublas_cu12==12.1.3.1
nvidia_cufft_cu12==11.0.2.54
nvidia_curand_cu12==10.3.2.106
nvidia_cusolver_cu12==11.4.5.107
nvidia_cusparse_cu12==12.1.0.106
nvidia_nccl_cu12==2.18.1
nvidia_nvtx_cu12==12.1.105
triton==2.1.0
nvidia_nvjitlink_cu12==12.6.85
absl_py==2.1.0
werkzeug==3.1.3
google_pasta==0.2.0
opt_einsum==3.4.0
jax==0.4.35
google_auth==1.35.0
google_auth_oauthlib==0.4.6
tensorboard_plugin_wit==1.8.1
html5lib==0.9999999.
proto-plus==0.1.0.
